<div
  class="wrapper"
  [ngStyle]="{ backgroundColor: task?.isDone ? '#eee' : 'white' }"
>
  <input
    *ngIf="isEdit; else titleBlock"
    [(ngModel)]="title"
    (keyup.enter)="updateTitle()"
  />

  <ng-template #titleBlock>
    <span [ngStyle]="{ textDecoration: task?.isDone ? 'line-through' : '' }">{{
      task?.title
    }}</span>
  </ng-template>
  <div class="action-button">
    <button
      *ngIf="isEdit; else elseBlock"
      type="button"
      class="save"
      (click)="updateTitle()"
    >
      Save
    </button>

    <ng-template #elseBlock>
      <button type="button" class="edit" (click)="handleEdit()">Edit</button>
    </ng-template>
    <button
      type="button"
      [ngClass]="task?.isDone ? 'cancel' : 'done'"
      (click)="taskService.updateStatus(task.id)"
    >
      {{ task?.isDone ? "Cancel" : "Done" }}
    </button>
    <button
      type="button"
      class="delete"
      (click)="taskService.deleteData(task.id)"
    >
      Delete
    </button>
  </div>
</div>
